.btn {
  display: block;
  width: 500px;
  padding: 35px 70px;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background: #ff001a;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 250px #ff001a, 0 0 250px rgba(255, 0, 26, 0.2);
  cursor: pointer;
}
