.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #ffffff;
}

.contacts-list {
  @include list-reset;

  max-width: 400px;
  margin-bottom: 10px;
}

.contacts-item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-item__title {
  position: relative;

  margin: 0;
  margin-bottom: 10px;
  padding-left: 17px;

  font-size: 10px;
  line-height: 12px;
  color: #ff001a;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    background-size: cover;
  }

  &--mail::before {
    width: 11px;
    height: 8px;

    background-image: url("../img/mail-icon.svg");
  }

  &--phone::before {
    width: 8px;
    height: 8px;

    background-image: url("../img/phone-icon.svg");
  }

  &--pin::before {
    width: 6px;
    height: 8px;

    background-image: url("../img/pin-icon.svg");
  }
}

.contacts-item__link {
  display: inline-block;

  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .contacts {
    max-width: 768px;
    padding-top: 70px;
    padding-right: 55px;
    padding-bottom: 60px;
    padding-left: 55px;
  }

  .contacts__title {
    margin-bottom: 50px;

    font-size: 50px;
    line-height: 60px;
  }

  .contacts-list {
    display: grid;
    width: 658px;
    max-width: none;
    margin: 0;

    grid-gap: 50px;
    grid-template-columns: 200px 1fr;
  }

  .contacts-item {
    margin: 0;

    &--mail {
      grid-column: 1 / 2;
    }

    &--phone {
      grid-column: 2 / 3;
    }

    &--pin {
      grid-column: 1 / 3;
    }
  }

  .contacts-item__title {
    margin-bottom: 20px;
    padding-left: 26px;

    font-size: 18px;
    line-height: 22px;

    &::before {
      top: 4px;
    }

    &--mail::before {
      width: 16px;
      height: 12px;
    }

    &--phone::before {
      width: 13px;
      height: 13px;
    }

    &--pin::before {
      width: 13px;
      height: 16px;
    }
  }

  .contacts-item__link {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: block;
    max-width: none;
    padding: 0;
    margin-bottom: 50px;
  }

  .contacts__title {
    width: 410px;
    margin-bottom: 70px;

    font-size: 60px;
    line-height: 72px;
    text-align: left;
  }

  .contacts-list {
    display: block;
    width: 100%;
    margin: 0;
  }

  .contacts-item {
    margin-bottom: 45px;
  }

  .contacts-item__wrap {
    position: relative;

    display: grid;
    width: 430px;

    grid-gap: 60px;
    grid-template-columns: 185px 185px;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 50%;

      width: 1px;
      height: 32px;

      background-color: #ffffff;
      opacity: 0.3;
    }
  }

  .contacts-item__link {
    font-size: 20px;
    line-height: 24px;

    &--phone {
      width: 185px;
    }

    &--descr {
      width: 415px;

      font-size: 20px;
      line-height: 32px;
    }
  }
}
