.features {
  padding-top: 30px;
  padding-right: 6%;
  padding-bottom: 50px;
  padding-left: 6%;

  background-color: $main-bg-color;
  background-image: url("../img/fearures-bg-mobile@1x.png");
  background-size: cover;
}
