.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 25px;
}

.features-item__img {
  margin-bottom: 15px;

  mix-blend-mode: screen;
}

.features-item__descr-wrap {
  margin: 0;
}

.features-item__descr {
  width: 130px;
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.features-item__title {
  width: 130px;

  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .features-item {
    padding: 0;
  }

  .features-item__img {
    margin-bottom: 25px;
  }

  .features-item__descr {
    width: 300px;
    margin-bottom: 15px;

    font-size: 34px;
    line-height: 41px;
  }

  .features-item__title {
    width: 300px;

    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .features-item__img {
    margin-bottom: 30px;
  }

  .features-item__descr {
    margin-bottom: 20px;
  }

  .features-item__title {
    line-height: 29px;
  }
}
