.features-list {
  @include list-reset;

  display: grid;
  max-width: 320px;

  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: $tablet-width) {
  .features-list {
    max-width: 768px;

    grid-gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .features-list {
    max-width: 1280px;

    grid-gap: 100px;
    grid-template-columns: repeat(3, 1fr);
  }
}
