.gift {
  display: grid;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;

  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.gift__descr {
  margin: 0;

  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
}
