.placement-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placement-item__link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  min-height: 100px;

  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-size: cover;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: $main-bg-color;
    background-size: cover;
    background-blend-mode: luminosity;
    opacity: 0.4;
  }

  &:hover,
  &:active {
    font-size: 0;
  }

  &:hover::before,
  &:active::before {
    background-blend-mode: normal;
    opacity: 1;
  }

  &--facade::before {
    background-image: url("../img/placement-facade-modile@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/placement-facade-modile@2x.jpg");
    }
  }

  &--wc::before {
    background-image: url("../img/placement-wc-modile@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/placement-wc-modile@2x.jpg");
    }
  }

  &--toilet::before {
    background-image: url("../img/placement-toilet-modile@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/placement-toilet-modile@2x.jpg");
    }
  }

  &--foyer::before {
    background-image: url("../img/placement-foyer-modile@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/placement-foyer-modile@2x.jpg");
    }
  }

  &--hall::before {
    background-image: url("../img/placement-hall-modile@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/placement-hall-modile@2x.jpg");
    }
  }
}

@media (min-width: $tablet-width) {
  .placement-item__link {
    width: 256px;
    min-height: 160px;

    font-size: 14px;
    line-height: 18px;

    &--facade::before {
      background-image: url("../img/placement-facade-tablet@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/placement-facade-tablet@2x.jpg");
      }
    }

    &--wc::before {
      background-image: url("../img/placement-wc-tablet@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/placement-wc-tablet@2x.jpg");
      }
    }

    &--toilet::before {
      background-image: url("../img/placement-toilet-tablet@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/placement-toilet-tablet@2x.jpg");
      }
    }

    &--foyer::before {
      background-image: url("../img/placement-foyer-tablet@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/placement-foyer-tablet@2x.jpg");
      }
    }

    &--hall::before {
      background-image: url("../img/placement-hall-tablet@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/placement-hall-tablet@2x.jpg");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .placement-item__link {
    width: 215px;
    height: 152px;

    font-size: 12px;
    line-height: 16px;

    &--facade::before {
      background-image: url("../img/placement-facade-desktop@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/placement-facade-desktop@2x.jpg");
      }
    }

    &--wc::before {
      background-image: url("../img/placement-wc-desktop@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/placement-wc-desktop@2x.jpg");
      }
    }

    &--toilet::before {
      background-image: url("../img/placement-toilet-desktop@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/placement-toilet-desktop@2x.jpg");
      }
    }

    &--foyer::before {
      background-image: url("../img/placement-foyer-desktop@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/placement-foyer-desktop@2x.jpg");
      }
    }

    &--hall::before {
      background-image: url("../img/placement-hall-desktop@1x.jpg");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/placement-hall-desktop@2x.jpg");
      }
    }
  }
}
