.plans-slider-item {
  display: none;

  &--show {
    display: flex;
    justify-content: center;
  }
}

.plans-slider-item__img {
  width: 100%;
  max-width: 320px;
  height: 100%;
}


@media (min-width: $tablet-width) {
  .plans-slider-item__img {
    max-width: 768px;
    margin-right: 75px;
    margin-left: 75px;
  }
}
