.plans {
  position: relative;

  display: grid;
  justify-content: center;
  padding-bottom: 55px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url("../img/plans-bg-mobile@1x.png");
    background-size: 100% 100%;
    opacity: 0.5;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/plans-bg-mobile@2x.png");
    }
  }
}

.plans__list {
  @include list-reset;

  display: grid;
  justify-content: center;
  order: 2;
  padding-right: 25px;
  padding-left: 25px;

  grid-gap: 15px;
  grid-template-columns: minmax(270px, 320px);
}

.plans__link {
  display: block;
  padding: 22px;

  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 3px;

  &--active {
    background-color: #ff001a;
    box-shadow: 0 0 250px rgba(255, 0, 26, 0.6);
  }
}

@media (min-width: $tablet-width) {
  .plans {
    padding-bottom: 70px;

    &::before {
      background-image: url("../img/plans-bg-tablet@1x.png");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/plans-bg-tablet@2x.png");
      }
    }
  }

  .plans__list {
    order: 2;
    min-width: 618px;
    max-width: 768px;
    margin-right: 75px;
    margin-left: 75px;
    padding: 0;

    grid-gap: 18px;
    grid-template-columns: repeat(2, minmax(300px, 375px));
  }

  .plans__link {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .plans {
    padding: 0;
    padding-top: 135px;

    &::before {
      background-image: url("../img/plans-bg-desktop@1x.png");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/plans-bg-desktop@2x.png");
      }
    }
  }

  .plans__list {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    order: 1;
    min-width: 0;
    max-width: none;
    margin: 0;
    margin-bottom: 90px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 51.38%, rgba(255, 255, 255, 0) 100%);
      opacity: 0.5;
    }
  }

  .plans__link {
    position: relative;

    padding-top: 40px;
    padding-bottom: 40px;

    font-size: 16px;
    line-height: 19px;

    background-color: transparent;
    box-shadow: none;
    opacity: 0.5;

    &--active {
      font-size: 20px;
      line-height: 24px;

      opacity: 1;
    }

    &--active::before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;

      width: 100%;
      height: 7px;

      background-color: #ff001a;
      box-shadow: 0 0 250px #ff001a;
    }
  }
}
