.projects-slider-item {
  display: none;
  padding-top: 180px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;

  background-position: center bottom;
  background-size: cover;

  &--maserati {
    background-image: url(../img/projects-maserati-mobile@2x.jpg);
  }

  &--show {
    display: block;
  }
}

.projects-slider-item__category-title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.projects-slider-item__main-title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
