.rooms {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;

  background-color: #1d2a3b;
  background-image: url("../img/rooms-bg-mobile.svg");
  background-size: 100% 100%;
}

.rooms__list {
  display: none;
}

.rooms__btn {
  position: relative;

  width: 250px;
  padding-right: 25px;
  padding-left: 25px;
}

.rooms__btn-descr {
  position: relative;

  padding-left: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 8px;
    height: 11px;

    background-image: url("../img/get-plan.svg");
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .rooms {
    padding-bottom: 90px;

    background-image: url("../img/rooms-bg-tablet.svg");
  }

  .rooms__btn {
    width: 460px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .rooms__btn-descr {
    padding-left: 36px;

    &::before {
      width: 14px;
      height: 20px;
    }
  }
}
