.rooms-slider {
  position: relative;

  margin-bottom: 20px;
}

.rooms-slider__btn {
  position: absolute;
  top: 275px;

  width: 44px;
  height: 44px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;

    width: 8px;
    height: 16px;

    background-image: url("../img/rooms-slider-btn.svg");
    background-size: cover;
    opacity: 0.7;
  }

  &--prev {
    left: 7%;
  }

  &--prev::before {
    top: 14px;
    left: 17px;
  }

  &--next {
    right: 7%;
  }

  &--next::before {
    top: 14px;
    right: 17px;

    transform: scale(-1, 1);
  }
}

@media (min-width: $tablet-width) {
  .rooms-slider {
    width: 655px;
    margin-bottom: 60px;
  }

  .rooms-slider__btn {
    top: 590px;

    width: 60px;
    height: 60px;

    &::before {
      width: 11px;
      height: 22px;
    }

    &--prev {
      right: 310px;
      left: auto;
    }

    &--prev::before {
      top: 19px;
      left: 23px;
    }

    &--next {
      right: 0;
    }

    &--next::before {
      top: 19px;
      right: 23px;

      transform: scale(-1, 1);
    }
  }
}

@media (min-width: $desktop-width) {
  .rooms-slider {
    position: absolute;
    top: 75px;
    right: 90px;

    width: 840px;
    margin: 0;
  }

  .rooms-slider__btn {
    display: none;
  }
}
