.services-list {
  @include list-reset;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 25px;

    width: 1px;
    height: 117px;

    background-color: #ffffff;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .services-list {
    width: 650px;
    margin-bottom: 35px;

    &::before {
      top: 10px;
      left: 47px;

      height: 183px;
    }
  }
}

@media (min-width: $desktop-width) {
  .services-list {
    width: 740px;
    margin: 0;

    &::before {
      top: 43px;
      left: 67px;

      height: 183px;
    }
  }
}
