@font-face {
  font-family: "Europe";
  font-style: normal;
  src: url("../fonts/eur.woff2") format("woff2"), url("../fonts/eur.woff") format("woff");
}

@font-face {
  font-family: "Europe";
  font-style: bold;
  src: url("../fonts/eur-b.woff2") format("woff2"), url("../fonts/eur-b.woff") format("woff");
}

