$main-font: "Europe", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1280px;
$desktop-hd-width: 1920px;
$white-color: #ffffff;
$color-ebony: #26313f;
$main-font-color: $white-color;
$main-bg-color: $color-ebony;
